# Copy to .env.enc and encrypt with sops+age:
# sops --encrypt --age $(cat ~/.age/key.txt | grep -oP "public key: \K(.*)") .env > .env.enc

MINIO_ROOT_USER=poste_minio
MINIO_ROOT_PASSWORD=replace-with-secure-password
